$navbar-default-bg: #41417e;

@import 'bootstrap-sprockets';
@import 'bootstrap';

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.description {
  margin-top: 0;
}

.jumbrotron {
  background: url();
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.375em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
